# Django service reference env.

SECRET_KEY=            # type: string required
DEBUG=                 # type: boolean
ALLOWED_HOSTS=         # optional
DB_PORT=               # type: port required
CACHE_URL=             # type: url
EMAIL_HOST_USER=       # type: email
SENTRY_DSN=            # type: url optional
